<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center" style="padding-top: 10px; padding-bottom: 10px;">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars News-->
    <div class="row" id="craiglist-listings">
      <div class="col-md-12">
        <h2 class="heading">Latest Mars News</h2>
        <h4>{{mars.news_title}}</h4>
        <small>{{mars.news_paragraph}}</small>
      </div>
    </div>
  </div>

<!-- Mars Image/ Facts-->
  <div style="display: flex;" class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="display1" style="width: auto; background-color: #ffffff; margin-right: 30px;  margin-top: 10px; overflow-y: auto;">
          <h2 class="heading">Featured Mars Image</h2>
          <img src={{mars.featured_image}} alt="Featured Image" style="float: left; margin-right: 20px; display: block;">
        </div>
      </div>
      <div class="col-md-5">
        <h4 style="margin-top: 20px;">Mars Facts</h4>
        <div class="display2" style="width: auto; background-color: #ffffff; margin-right: 30px;  margin-top: 10px; overflow-y: auto;">
          <!-- {{mars.html_table}} -->
          <table class="dataframe" >
            <tbody>
                {{mars.html_table | safe}}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

<!-- Mars Hemispheres-->

  <div style="display: flex; align-items: center; justify-content: center;" class="container">
    <h2 style="margin-bottom: 20px;">Mars Hemispheres</h2>
  </div>
  <hr style="width: 50%; margin-top: 10px; margin-bottom: 10px; width: 90%;">
  <div style="display: flex; align-items: center; justify-content: center;" class="container">
    <table id="images-table">
      <tr>
      <td>
          <a href="{{mars.hemispheres.img_url[0]}}">
          <img src="{{mars.hemispheres.img_url[0]}}" alt="Cerberus Hemisphere Enhanced" style="max-width: 100%; display: block; margin-left: 30px; margin-right: 30px; width: 150px; height: 150px; margin-top: 20px;" class="img-container">
          </a>
          <h4>{{mars.mars_maps.title[0]}}</h4>
      </td>
      <td>
          <a href="{{mars.hemispheres.img_url[1]}}">
          <img src="{{mars.hemispheres.img_url[1]}}" alt="Schiaparelli Hemisphere Enhanced" style="max-width: 100%; display: block; margin-left: 30px; margin-right: 30px; width: 150px; height: 150px; margin-top: 20px;" class="img-container">
          </a>
          <h4>{{mars.mars_maps.title[1]}}</h4>
      </td>
      <td>
          <a href="{{mars.hemispheres.img_url[2]}}">
          <img src="{{mars.hemispheres.img_url[2]}}" alt="Syrtis Major Hemisphere Enhanced" style="max-width: 100%; display: block; margin-left: 30px; margin-right: 30px; width: 150px; height: 150px; margin-top: 20px;" class="img-container">
          </a>
          <h4>{{mars.mars_maps.title[2]}}</h4>
      </td>
      <td>
          <a href="{{mars.hemispheres.img_url[3]}}">
          <img src="{{mars.hemispheres.img_url[3]}}" alt="Valles Marineris Hemisphere Enhanced" style="max-width: 100%; display: block; margin-left: 30px; margin-right: 30px; width: 150px; height: 150px; margin-top: 20px;" class="img-container">
          </a>
          <h4>{{mars.mars_maps.title[3]}}</h4>
      </td>
      </tr>
  </table>
  </div>
</body>

</html>